<div class="login-container">
  <form [formGroup]="loginForm" class="login-form" (submit)="submitLogin()">
    <div class="header-form">
      <h1> Get's started.</h1>
      <span class="sub-header">
        Don't have an account? <a routerLink="/signup">Sign up</a>
      </span>
      <div class="header-button">
        <button><i class="fa fa-facebook" aria-hidden="true" style="color:#1877F2;font-size:20px"></i></button>
        <button><i class="fa fa-envelope" aria-hidden="true" style="color:#FF0000;font-size:20px"></i></button>
        <button><i class="fa fa-twitter" aria-hidden="true" style="color: #1DA1F2;font-size:20px"></i></button>

      </div>
      <hr>

    </div>
    <div class="content-form">
      <div class="input-form">
        <input class="email-input" type="text" formControlName="email" placeholder="Email Address"><br>

        <input class="password-input" type="password" formControlName="password" placeholder="Password">
      </div>
      <div class="sub-input-form">
        <div class="remember-me">
          <input class="miss-password" type="checkbox" name="password" id="password">
          <label for="password">Remember me</label>
        </div>
        <a href="#">Forgot your password?</a>
      </div>
      <button class="button-form" type="submit" routerLink="/dashboard"> Log In</button>

    </div>
  </form>
</div>
