<div class="signup-container">
  <form [formGroup]="signupForm" (submit)="submitSignup()" class="signup-form">
    <div class="header-form">
      <h1> Create an account.</h1>
      <span class="sub-header">
        Have an account? <a routerLink="/login">Sign in</a>
      </span>
      <div class="header-button">
        <button><i class="fa fa-facebook" aria-hidden="true" style="color:#1877F2;font-size:20px"></i></button>
        <button><i class="fa fa-envelope" aria-hidden="true" style="color:#FF0000;font-size:20px"></i></button>
        <button><i class="fa fa-twitter" aria-hidden="true" style="color: #1DA1F2;font-size:20px"></i></button>

      </div>
      <hr>
    </div>
    <div class="content-form">
      <div class="input-form">
        <input class="input-firstname" formControlName="firstName" type="text" placeholder="First Name"><br>
        <input class="input-lastname" formControlName="lastName" type="text" placeholder="Last Name"><br>
        <input class="input-email" formControlName="email" type="text" placeholder="Email Address"><br>
        <input class="input-password" formControlName="password" type="password" placeholder="Password">
      </div>

      <button class="button-form" type="submit"> Sign Up</button>
    </div>
  </form>
</div>
