<div class="dashboard-container">
  <div class="nav-container">
    <div class="user-info">
      <img class="user-avt" width="50px" src="../../assets/images/avt-user.png" alt="User Avatar">
      <span class="user-name">Bui Huyen</span>

    </div>
    <hr>
    <div class="content-container">
      <ul class="menu-container">
        <li class="dashboard"> Dashboard </li>
        <li class="products"> Products</li>
        <li class="customers"> Customers</li>
        <li class="orders"> Orders</li>
        <li class="setting"> <i class="fa fa-cog" aria-hidden="true"></i>Setting </li>
      </ul>
    </div>
  </div>
  <div class="dashboard-content"></div>
</div>
